:root {
  --red: #df001f;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Oswald", sans-serif;
  --third-font: "Great Vibes", cursive;
}
html {
  font-family: var(--primary-font);
  font-size: 62.5%;
}
.btn {
  border: none;
}
.container {
  padding: 0 37rem;
}
.move {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-move {
  border: none;
  width: 35px;
  height: 35px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 5px;
}
.btn-move:first-child {
  margin-left: -5px;
}
.btn-move:last-child {
  margin-right: -5px;
}
.btn-play {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  position: relative;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-interact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fdfdfe;
  padding: 4px 8px;
  color: black;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-interact span {
  display: inline-block;
  margin-left: 5px;
}
.btn-downloads {
  width: 18rem;
  height: 5rem;
  border-radius: 6px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 25px;
}
.heading {
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  cursor: default;
}
.sub-heading {
  font-family: var(--third-font);
  font-size: 3.2rem;
  color: var(--red);
  font-weight: 300;
  margin-top: -0.5rem;
  text-transform: capitalize;
  cursor: default;
}
